 
   h1{ 
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 45px;

   }

*{
  font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;

}
body{
   
background-color:rgb(35, 104, 99);

}



.input {
  float: right;
  margin-right: 250px;
}


#form{

    background-color: rgb(65, 131, 126);
   text-align: left;
margin: 50px;
padding: 20px;
margin-left: 250px;
margin-right: 250px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;


}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  background-color: #3b90e5;
  display: flex;
  justify-content: center;
  font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
  
}

a {
  font-size: 18px;
    padding: 10px;

}
.button{

  text-align: center;
}
.footer{

padding: 10px;
background-color:aliceblue ;
text-align: center;

}
